@font-face {
	font-family: "iconvault";
	src: url("weather-font/iconvault_forecastfont.eot");
	src: url("weather-font/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
	url("weather-font/iconvault_forecastfont.woff") format("woff"),
	url("weather-font/iconvault_forecastfont.ttf") format("truetype"),
	url("weather-font/iconvault_forecastfont.svg#iconvault") format("svg");
	font-weight: normal;
	font-style: normal;
}
