
@import "bootstrap.min";
@import "mixins";
@import "select";
@import "select2";
@import "weather-font";

$color-primary: yellow;
$color-secondary: #D5473E;
$green1: #396B76;
$green2: #99A18A;
$line: rgba(255, 255, 255, .1);

body {
	min-height: 100vh;
	@include gradient-vertical($green1, $green2);
}

header {
	border-bottom: 1px solid $line;

	.logo {
		h1 {
			color: #fff;
			font-size: 1.8em;
			font-weight: 300;

			img {
				width: 1.3em;
				margin-top: -3px;
				margin-right: 5px;
			}
		}
	}

	nav {
		ul {
			list-style-type: none;
			margin: 25px 0 0 0;

			li {
				a {
					color: #fff;

					&:hover {
						color: yellow;
					}
				}
			}
		}
	}
}

.btn {
	@include border-radius(2px)
}

.form-container {
	margin: 30px 0;
	.form-group {
		input {
			@include border-radius(2px);
			height: auto;
		}

		button {
			&.btn {
				display: block;
				width: 100%;
				background: none;
				border: 1px solid rgba(255, 255, 255, .5);
				color: #fff;

				&:hover {
					background-color: #fff;
					color: $green1;
				}
			}
		}
	}
}

.place-info {
	margin: 15px 0;
	h2 {
		text-align: center;
		color: #fff;
		font-weight: 300;
		margin: 0;

		span {
			font-weight: 400;
		}
	}
}