<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="form-container">
			<form action="">
				<div class="form-group">
					<div class="col-lg-9">
						<input type="text" class="form-control" placeholder="Change the place">
					</div>

					<div class="col-lg-3">
						<button class="btn" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="place-info">
			<h2><span>Sarajevo</span> Weather</h2>
		</div>
	</div>
</div>

<ul>
	<li class="icon-sunrise"></li>
	<p>Sunrise</p>
</ul>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="current-weather">

		</div>
	</div>
</div>